* {
  background-color: #1c1c1c;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Mono", monospace;
}

h1 {
  color: white;
  font-size: 30px;
  text-align: center;
  margin: 20px 0 20px 0;
  animation: opac 1s forwards;
}

.front {
  max-width: 960px;
  margin: 0 auto;
}

.front p {
  max-width: 960px;
  margin-bottom: 30px;
  text-align: center;
  color: white;
  font-size: 20px;
}

.front p::after {
  content: "|";
  animation: blink 1s infinite;
}

.front a {
  text-decoration: none;
  text-align: center;
  margin-bottom: 2000px;
  color: yellow;
  font-size: 10px;
}

.footer {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 20px;
}

.footer span {
  display: block;
  text-align: center;
  color: white;
  animation: links 3s forwards;
}

.footer span a {
  text-decoration: none;
  color: yellow;
}

.footer span a:hover {
  color: rgb(17, 211, 17);
  transition: 0.4s;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@keyframes opac {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes links {
  0% {
    opacity: 0;
    transform: translate3d(-20px, 0, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
