body {
  background-color: #1c1c1c;
}

p {
  color: white;
  font-size: 30px;
  text-align: center;
}

p::after {
  content: "|";
  animation: blink 1s infinite;
}

h1 {
  color: white;
  font-size: 30px;
  text-align: center;
}

h1::after {
  content: "|";
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}
